#---------------------------------------------------
# Propulsion Thresholds
#---------------------------------------------------

PROPULSION_EGT_LIMIT=700
PROPULSION_THRUST_LIMIT=13000
PROPULSION_EFFICIENCY_LIMIT=0.82

#---------------------------------------------------
# Hydraulic Thresholds
#---------------------------------------------------

HYDRAULIC_PRESSURE_LIMIT=2800
HYDRAULIC_TEMP_LIMIT=82
HYDRAULIC_FLOW_LIMIT=52